# -*- python -*-

# SCS Build Engineer Take Home Assessment
# Buildbot Master Configuration
# Do Not Distribute

c = {}

from buildbot.plugins import *
from buildbot.process.properties import Interpolate

# This is a sample master.cfg file that provides a three-stage build pipeline.
# *-> Stage 1: Compile and upload the first shared object file.
# *-> Stage 2: Compile and upload the second shared object file.
# *-> Stage 3: Download and link shared objects with the main application.

# First specify a build factory to add the steps of the build.
#     https://docs.buildbot.net/latest/developer/config.html#buildbot.config.BuilderConfig.factory
factory = util.BuildFactory()

# ============================================================================
# STAGE 1: Copy and compile libendl.so
# ============================================================================

# We will add a step, which wraps a "ShellCommand" to clear out the workspace
#     https://docs.buildbot.net/latest/manual/configuration/steps/index.html
factory.addStep(
    # ShellCommand Docs: https://docs.buildbot.net/latest/manual/configuration/steps/shell_command.html#step-shellcommand
    steps.ShellCommand(
        name="Ensure Workspace Clean",
        command=["find", ".", "-mindepth", "1", "-delete"],
        description="Clean workspace before build",
        descriptionDone="Cleaned workspace"
    )
)

factory.addStep(
    steps.ShellCommand(
        name="Copy lib_endl.c into workspace",
        command=["cp", "/src/lib_endl.c", "lib_endl.c"],
        description="Copying lib_endl.c to build directory",
    )
)
factory.addStep(
    steps.Compile(
        name="Compile libendl",
        command=["gcc", "-fPIC", "-shared", "lib_endl.c", "-o", "libendl.so"],
        description="Compiling libendl.so",
    )
)
factory.addStep(
    steps.FileUpload("libendl.so", "libendl.so", alwaysRun=True)
)
factory.addStep(
    steps.ShellCommand(
        name="Clear libendl from workspace",
        command=["rm", "-f", "lib_endl.c", "libendl.so"],
        description="Cleaning up lib_endl.c and libendl.so",
    )
)

# ============================================================================
# STAGE 2: Copy and compile libbegl.so
# ============================================================================

factory.addStep(
    steps.ShellCommand(
        name="Copy lib_begl.c into workspace",
        command=["cp", "/src/lib_begl.c", "lib_begl.c"],
        description="Copying lib_begl.c to build directory",
    )
)
factory.addStep(
    steps.Compile(
        name="Compile libbegl",
        command=["gcc", "-fPIC", "-shared", "lib_begl.c", "-o", "libbegl.so"],
        description="Compiling libbegl.so",
    )
)
factory.addStep(
    steps.FileUpload("libbegl.so", "libbegl.so", alwaysRun=True)
)
factory.addStep(
    steps.ShellCommand(
        name="Clear libbegl from workspace",
        command=["rm", "-f", "lib_begl.c", "libbegl.so"],
        description="Cleaning up lib_begl.c and libbegl.so",
    )
)

# ============================================================================
# STAGE 3: Download artifacts, copy main.c
# ============================================================================

# Download both shared libraries from the master back to the runner.

factory.addStep(
    steps.FileDownload("libendl.so", "libendl.so", name="Download libendl", alwaysRun=True)
)
factory.addStep(
    steps.FileDownload("libbegl.so", "libbegl.so", name="Download libegl", alwaysRun=True)
)

factory.addStep(
    steps.ShellCommand(
        name="Copy main.c to workspace",
        command=["cp", "/src/main.c", "main.c"],
        description="Copying main.c to build directory",
        descriptionDone="Copied main.c to build directory",
    )
)

# ============================================================================
# STAGE 4 Link, and run
# ============================================================================

factory.addStep(
    steps.Compile(
        name="compile/link",
        command=["gcc", "main.c", "-L.", "-lbegl", "-lendl", "-o", "my_app"],
        description="Linking final application",
    )
)
factory.addStep(
    steps.ShellCommand(
        # LD_LIBRARY_PATH=. must be set here to add .so libs from current dir on PATH (so the app can see them)
        command=["sh", "-c", "LD_LIBRARY_PATH=. ./my_app"],
        name="Run Program",
        description="Running application", descriptionDone="Ran application",
        alwaysRun=True, want_stdout=True
    )
)
factory.addStep(
    steps.ShellCommand(
        command=["rm", "-f", "main.c", "libbegl.so", "libendl.so", "my_app"],
        description="Cleaning up main.c, .so files, and my_app",
    )
)

# Workers config (to allow them to connect in)

c['workers'] = [worker.Worker('worker', 'pass')]
c['protocols'] = {'pb': {'port': 9989}}

# Builders and schedulers

c["builders"] = [
    util.BuilderConfig(name="simple-pipeline", workernames=["worker"], factory=factory)
]

c["schedulers"] = [schedulers.ForceScheduler(name="force", builderNames=["simple-pipeline"])]

# Disable anonymous usage data reporting; since this is a test setup.
c['buildbotNetUsageData'] = None

# Enable the web status interface.
c['buildbotURL'] = 'http://localhost:8010/'
c['www'] = {
    'port': 8010,
    'plugins': {
        'waterfall_view': {},
        'console_view': {},
        'grid_view': {},
    }
}

# In Buildbot, the convention is to use the variable c as a configuration dictionary 
#     throughout the file, and then assign it to BuildmasterConfig at the end;
#     which is what buildbot actually looks for when it loads the configuration.
BuildmasterConfig = c
